/**
 * Developer: Satish Sekar
 * Created on October 2nd, 2015
 * Assesment: Manage or add new movie records to list
 **/

body, article, article header, article section, article footer {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

article {
    width: 850px;
    margin: 0px auto;
    font-family: sans-serif;
}

article header {
    border-bottom: 1px solid #555555;
    width: 100%;
    height:45px;
}

article header div.caption {
    font-weight: normal;
    font-size: 28px;
    padding: 5px;
}

article header div.share {
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
    position:relative;
    top: 7px;
}

article header div.share div {
    position: relative;
    top: 3px;
    right: 3px;
}

article header div.share a span {
    display: block;
    background: url("./img/sprite1.png");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    width: 25px;
    height: 23px;
}

article header div.share a span:hover {
    cursor: pointer;
}

article header div.share a span.twitter {
    background-position: -25px -23px !important;
}

article header div.share a span.facebook {
    background-position: 0px -23px !important;
}

article header div.share a span.gplus {
    background-position: -50px -23px !important;
}

article header div.share a span.twitter:hover {
    background-position: -25px 0px !important;
}

article header div.share a span.facebook:hover {
    background-position: 0px 0px !important;
}

article header div.share a span.gplus:hover {
    background-position: -50px 0px !important;
}

article section div.secBlock, article section div.secBlock + div, article section div.secBlock:nth-child(2) {
    padding: 8px;
}

article section div.secBlock:first-child {
    height: 50px;
    border-bottom: 1px solid #555555;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clearAll {
    clear: both;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}

.textAlignCenter {
    text-align: center;
}

.error {
    border: 1px solid red !important;
}

div#top div.filterBlock {
    width: 250px;
}

div#top div.filterBlock + div, div#top div:nth-child(2) {
    width: 200px;
}

div#top div.filterBlock + div + div, div#top div:nth-child(3) {
    width: 200px;
}

div#top div.filterBlock + div + div + div, div#top div:nth-child(4) {
    width: 180px;
}

div#top div.filterBlock div {
    padding: 0px;
    margin:0px;
    border:0px;
    font-size: 11px;
    width: 180px;
    height: 20px;
}

div#top div:first-child div {
    width: 220px !important;
}

div#top div.filterBlock div:last-child {
    border: 1px solid #555555;
}

div#top div.filterBlock + div + div div:last-child, div#top div:nth-child(3) div:last-child {
    border: 0px !important;
}

div#top div.filterBlock div:last-child select {
    outline: none !important;
}

div#top div.filterBlock div:last-child input {
    outline: none !important;
    border: 0px;
    width: 170px;
}

div#top div:first-child div:last-child input {
    width: 210px;
}

div#top div:last-child div {
    border: 0px !important;
    position: relative;
    top: 18px;
}

div#top div:last-child div button {
    color: #444444;
    width: 160px;
}

article section div#bottom div#table {
    border: 1px solid #555555;
    overflow: auto;
    background-color: #DEDEDE;
    color: #444444;
    width: 840px;
    height:300px;
}

div#table .header {
    background-color: #999999;
    color: #333333;
    border-bottom: 1px solid #555555;
    font-weight: bold;
}

div#table .header:hover {
    cursor: pointer;
}

div#table .header div span {
    display: block;
}

div#table .header div span:last-child {
    background: url("./img/sprite.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width:18px;
    height:18px;
}

div#table div.row {
    display: table;
    padding-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    width: auto;
    height: 20px;
}

div#table div.row div {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 30px;
}

div#table div.row div:last-child {
    padding-right: 15px;
    border-right: 0px !important;
}

div#table div.row div:first-child {
    width: 350px !important;
}

div#table div.row div:first-child + div, div#table div.row div:nth-child(2) {
    width: 170px !important;
}

article footer div.copyright {
    text-align: center;
    font-size: 11px;
}